# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\学习\0.本科NUAA\7.大四上\2.综合训练\Hash算法漏洞破解分析\MD5Crack-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
